# List

In [1]:
# Create a list named "fruits" containing three different fruits.

fruits = ["mango", "apple", "banana"]
print(fruits)

['mango', 'apple', 'banana']

# Tuple

In [9]:
# Create a tuple named "numbers" with five random numbers.

import random

numbers = tuple(random.randint(1, 100) for _ in range(5))

In [10]:
print(numbers)

(27, 98, 73, 58, 19)

In [13]:
numbers2 = (1, 3, 5, 7, 9)
print(numbers2)

(1, 3, 5, 7, 9)

# Set

In [12]:
# Create a set named "colors" with three different colors.

In [14]:
colors = {"green", "blue", "white"}
print(colors)

{'blue', 'white', 'green'}

# Dictionary

Create a dictionary named "student" with the following key-value pairs:

o "name" as the key and the student's name as the value.

o "age" as the key and the student's age as the value.

o "grade" as the key and the student's grade as the value.

In [20]:
student = {"name": "Muhammad Iqbal",  "age": 33, "grade": "A+"}
print(student)

{'name': 'Muhammad Iqbal', 'age': 33, 'grade': 'A+'}

# **Multiline Strings**
You can assign a multiline string to a variable by using three quotes Or three single quotes:

In [18]:
# Create a multi-line string named "poem" with a short poem of your choice.

In [24]:
poem = """Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky"""

print(poem)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky

# If-Statement

In [27]:
# Write an if statement to check if the length of the "fruits" list is greater than 3.
# If it is, print "You have many fruits!".

In [36]:
fruits = ["mango", "apple", "banana"]

if len(fruits)>3:
    print("You have many fruits!")
else:
    print("Fruits are mango, apple and banana.")

Fruits are mango, apple and banana.